
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.bgimg{
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    padding: top;
    justify-content: space-between;
    align-items:left;
}
nav img{
    width: 110px;
    height:100%;
    padding:0% 0% 2% 2%;
    position: top;
}
.nav-links{
    Flex: 1;
    text-align:left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 40px 40px;
    position:relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: red;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.social-menu ul {
    position: absolute;
    top: 50;
    right: -140;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
    padding: 2 4;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    display: block;
    position: relative;
    width: 50px;
    height: auto;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.7s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.midtext{
    color:white;
    font-size: 50px;
    text-align: center;
    padding: 175;
}
.endpart{

    background-color: black;
    width: 100%;
    height: 90%;
    font-size: 50px;
    text-align: center;
    margin:58 0 0;
}
.contactustext{
    color:white;
    position:absolute;
    font-size: 30px;
    margin: 140px 130px;
}
.contactustext1{
    color:white;
    position:absolute;
    font-size: 20px;
    margin: 220px 130px;
    text-align: left;
    line-height: 15px;
}
.contactustext2{
    color:white;
    position:absolute;
    font-size: 30px;
    margin: 140px 520px;
}
.contactustext3{
    color:white;
    position:absolute;
    font-size: 20px;
    margin: 220px 520px;
    line-height: 15px;
}
.contactus ul{
    color:#EE4B2B;
    text-align: left;
    padding: 120 20;
}
.contactus ul li {
    letter-spacing: 280;
    display: inline-block;
    list-style: none;
    margin: 10 20;
    padding: 2 4;
}
.contactus ul li .fa {
    font-size: 80px;
}
.contact-ustext{
    color:white;
    position:absolute;
    text-align: left;
    font-size: 30px;
    margin: 30px 130px;
}
.contact-ustext1{
    color:white;
    position:absolute;
    font-size: 20px;
    margin: 105px 130px;
    text-align: left;
    line-height: 15px;
}
.contact-ustext2{
    color:white;
    position:absolute;
    text-align: left;
    font-size: 30px;
    margin: 30px 520px;
}
.contact-ustext3{
    color:white;
    position:absolute;
    font-size: 20px;
    text-align: left;
    margin: 105px 520px;
    line-height: 15px;
}
.contact-us ul{
    color:#EE4B2B;
    text-align: left;
    padding:10 10;
}
.contact-us ul li {
    letter-spacing: 250;
    display: inline-block;
    list-style: none;
    margin: 10 20;
    padding: 2 4;
}
.contact-us ul li .fa {
    font-size: 80px;
}
.contact-form{
    max-width: 600px;
    margin-right: 50px;
    flex: 1;
}
.googlemap{
    position: relative;
    padding:190 0;
    margin: 0px;
}
.endlogo{
    top:-80;
    position: relative;
    padding: 0 0;
    margin: 0px;
}
.text123{
    color:white;
    font-size: 25px;
}
.endsocial-menu ul {
    position: absolute;
    top: 130%;
    padding: 0 600;
    transform: translate(-0%, -60%);
    margin: 0;
    display: flex;
}
.endsocial-menu ul li {
    list-style: none;
    margin: 0 10px;
    padding: 2 4;
}
.endsocial-menu ul li .fa {
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    transition: .5s;
}
.endsocial-menu ul li .fa:hover {
    color: #ffffff;
}
.endsocial-menu ul li a {
    display: block;
    position: relative;
    width: 50px;
    height: auto;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.endsocial-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.endsocial-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.endsocial-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.endsocial-menu ul li:nth-child(3) a:hover {
    background-color: #cd201f;
}
.endsocial-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}
.contact-form{
    margin-top: 110;
    width:400;
    padding-top: 30px;
    float:right;
    height: 60%;
    text-align: center;
    padding: 0 120px;
    overflow: hidden;
}
.contacttext{
    display: block;
    width: 100%;
    padding: 30 10;
    box-sizing: border-box;
    margin: 30px 0px;
    border: 10 solid white;
    background: white;
    transition: 0.5s;
}
.contactemail{
    display: block;
    padding: 30 10;
    width: 100%;
    box-sizing: border-box;
    margin: 30px 0px;
    border: 10 solid white;
    background: white;
    transition: 0.5s;
}
.contactmess{
    display: block;
    width: 100%;
    padding: 50 10;
    box-sizing: border-box;
    margin: 30px 0px;
    border: 10 solid white;
    background: white;
    transition: 0.5s;
}
.contact-form-btn{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20;
    box-sizing: border-box;
    border: 2px solid#EE4B2B;
    background: black;
    color:white;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background:#0077B5;
}
input{
    height: 30;
}